/out/
/.tmp/
/.validation/
/.vs/
/.vscode/
/build/
/build-*/
/CMakeUserPresets.json
/logs/
/vm-secrets/
/.env
/.env.*
*.log
*.iso
*.wim
*.vdi
*.vhd
*.vhdx
*.cab
*.msi
*.msix
*.zip
*.tsumugi
*.tsumugi.partial
*.dcimg
*.dcmig
*.pfx
*.p12
*.key
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.ipdb
*.iobj
*.idb
*.pch
*.tlog
*.nativecodeanalysis.xml
*.pem
*.user
*.suo
*.VC.db
*.VC.VC.opendb
