/out/
/.tmp/
/.validation/
/.vs/
/.vscode/
/build/
/CMakeUserPresets.json
/logs/
/vm-secrets/
/.env
/.env.*
*.log
*.iso
*.wim
*.vdi
*.vhd
*.vhdx
*.cab
*.msi
*.msix
*.zip
*.pfx
*.p12
*.key
*.exe
*.dll
*.lib
*.obj
*.user
*.suo
*.VC.db
*.VC.VC.opendb
